In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC  
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
import numpy as np

In [2]:
# Load the data 
data = pd.read_csv('all_car_adverts.csv', header=0)

In [3]:
#checking whats in the dataset
print(data.head())
print(data.info())
print(data.describe())

   Unnamed: 0 make  model variant  car_price car_badges car_title  \
0           0   AC  Cobra     NaN    89995.0        NaN  AC Cobra
1           1   AC  Cobra     NaN    92500.0         ''  AC Cobra
2           2   AC  Cobra     NaN   109995.0         ''  AC Cobra
3           3   AC  Cobra     NaN   124950.0         ''  AC Cobra
4           4   AC  Cobra     NaN   124950.0         ''  AC Cobra

                                       car_sub_title  \
0                                  4.9 MK IV CRS 2dr
1                                         378 - MkIV
2  MK1V 212 SC. 3.5 V8 350 BHP LOTUS TWIN TURBO. ...
3                                       302 MKIV 2dr
4   302 MKIV With Factory Lightweight Engine 5.0 2dr

          car_attention_grabber  \
0  GENUINE AC COBRA CRS 522 BHP
1                 PHYSICAL CAR!
2       FULL CARBON FIBRE BODY.
3           ABSOLUTELY STUNNING
4          'STAGE 3' SVO ENGINE

                                           car_specs  ... num_owner  ulez  \
0  2001 (X reg), Convertible, 14,400 miles, 4.9L,...  ...       5.0     0
1  2019 (T reg), Convertible, 650 miles, Manual, ...  ...       NaN     0
2  2000 (X reg), Convertible, 21,600 miles, 3.5L,...  ...       3.0     0
3  1989 (F reg), Convertible, 2,750 miles, Manual...  ...       NaN     0
4  1989 (E reg), Convertible, 15,142 miles, 5.0L,...  ...       NaN     0

  full_service part_service part_warranty full_dealership  \
0            0            0             0               0
1            0            0             0               0
2            0            0             0               0
3            0            0             0               0
4            0            0             0               0

   first_year_road_tax  brand_new  finance_available discounted
0                    0          0                  0          0
1                    0          0                  0          0
2                    0          0                  0          0
3                    0          0                  0          0
4                    0          0                  0          0

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 818456 entries, 0 to 818455
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             818456 non-null  int64
 1   make                   818456 non-null  object
 2   model                  818153 non-null  object
 3   variant                816207 non-null  object
 4   car_price              818456 non-null  float64
 5   car_badges             801459 non-null  object
 6   car_title              818456 non-null  object
 7   car_sub_title          817909 non-null  object
 8   car_attention_grabber  738163 non-null  object
 9   car_specs              818456 non-null  object
 10  car_seller             818348 non-null  object
 11  car_seller_rating      644191 non-null  float64
 12  car_seller_location    816256 non-null  object
 13  year                   818456 non-null  object
 14  reg                    747436 non-null  object
 15  body_type              817744 non-null  object
 16  miles                  763703 non-null  float64
 17  engine_vol             803010 non-null  float64
 18  engine_size            814247 non-null  float64
 19  engine_size_unit       814247 non-null  object
 20  transmission           818243 non-null  object
 21  feul_type              818234 non-null  object
 22  num_owner              442596 non-null  float64
 23  ulez                   818456 non-null  int64
 24  full_service           818456 non-null  int64
 25  part_service           818456 non-null  int64
 26  part_warranty          818456 non-null  int64
 27  full_dealership        818456 non-null  int64
 28  first_year_road_tax    818456 non-null  int64
 29  brand_new              818456 non-null  int64
 30  finance_available      818456 non-null  int64
 31  discounted             818456 non-null  int64
dtypes: float64(6), int64(10), object(16)
memory usage: 199.8+ MB
None
          Unnamed: 0     car_price  car_seller_rating          miles  \
count  818456.000000  8.184560e+05      644191.000000  763703.000000
mean   409227.500000  2.011859e+04           4.649465   48735.854328
std    236268.040297  2.224110e+04           0.433626   36520.141907
min         0.000000  3.000000e+02           1.000000       2.000000
25%    204613.750000  8.990000e+03           4.600000   19441.000000
50%    409227.500000  1.500000e+04           4.700000   40267.000000
75%    613841.250000  2.450000e+04           4.900000   71215.500000
max    818455.000000  3.199830e+06           5.000000  999999.000000

          engine_vol    engine_size      num_owner           ulez  \
count  803010.000000  814247.000000  442596.000000  818456.000000
mean        1.860284     170.134123       2.097290       0.815449
std         0.752763      92.141443       1.265622       0.387933
min         0.500000       1.000000       1.000000       0.000000
25%         1.400000     115.000000       1.000000       1.000000
50%         1.600000     148.000000       2.000000       1.000000
75%         2.000000     190.000000       3.000000       1.000000
max         8.300000    2460.000000      32.000000       1.000000

        full_service   part_service  part_warranty  full_dealership  \
count  818456.000000  818456.000000  818456.000000    818456.000000
mean        0.108105       0.013059       0.063693         0.035079
std         0.310513       0.113526       0.244206         0.183981
min         0.000000       0.000000       0.000000         0.000000
25%         0.000000       0.000000       0.000000         0.000000
50%         0.000000       0.000000       0.000000         0.000000
75%         0.000000       0.000000       0.000000         0.000000
max         1.000000       1.000000       1.000000         1.000000

       first_year_road_tax      brand_new  finance_available     discounted
count        818456.000000  818456.000000      818456.000000  818456.000000
mean              0.063693       0.066233           0.716983       0.045162
std               0.244206       0.248690           0.450465       0.207659
min               0.000000       0.000000           0.000000       0.000000
25%               0.000000       0.000000           0.000000       0.000000
50%               0.000000       0.000000           1.000000       0.000000
75%               0.000000       0.000000           1.000000       0.000000
max               1.000000       1.000000           1.000000       1.000000

In [4]:
# Define transformers for numeric and categorical features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [ ]:

target_column = 'car_price' 
X = data.drop(target_column, axis=1)
y = data[target_column]

In [6]:
# Identify numeric and categorical columns automatically
numeric_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

In [7]:
# Create the updated preprocessor with imputers included
preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer, numeric_features),
    ('cat', categorical_transformer, categorical_features)
])

In [8]:
# Create the SVM pipeline with preprocessing
pipeline = Pipeline(steps=[
    ('pre', preprocessor),
    ('svm', SVC(verbose=True))
])

In [ ]:
# Splitting the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

print(classification_report(y_test, y_pred))

[LibSVM]